<div class="piechart">
    <canvas baseChart 
            [data]="salesData" 
            [type]="'bar'"
            [options]="chartOptions"
            
            
          >
          </canvas>
          <div class="text">
            <div >  
                <div class="blue-dot"></div>Setteled(1623)
            </div>
            <div>
                <div class="purple-dot"></div>Pre Setteled(1283)
            </div>
            <div>
               <div class="yellow-dot"></div>Pending(2100)
            </div>
            <div class="div">
                <div class="orange-dot"></div>Closed(900)
            </div>

            
        </div>
       
        </div>
