<div class="graph-grid">
    <div class="chart graph-chart">
      <strong><span>Claim Portfolio</span></strong>| <span>Value</span><hr>
      <app-barchart  ></app-barchart>
    </div>
    <div class="chart graph-chart2">
      <strong><span>Claim Portfolio</span></strong>| <span>Volume</span><hr>
      <app-barchart1 ></app-barchart1>
    </div>
    <div class="chart pie-chart">
      <strong><span>Claim Portfolio</span></strong>| <span>Damage Type</span><hr>
      <app-pie-chart ></app-pie-chart>
    </div>
  
    <div class="chart1 claim">
      <app-status-chart></app-status-chart>
    </div>
  
    <div class="chart pie-chartblue"> 
      <strong><span>Claim Portfolio</span></strong>| <span>Origin(Port of Discharge)</span><hr>
       <app-origin-pir-chart></app-origin-pir-chart>
    </div>
    <div class="chart pie-chartgreen"> 
      <strong><span>Claim Portfolio</span></strong>| <span>Cargo Type</span><hr>
     <app-cargo-piechart></app-cargo-piechart>
    </div>
    <div class="chart pie-chartpurple">
      <strong><span>Claim Portfolio</span></strong>| <span>Claim Type</span><hr>
        <app-claim-type-piechart></app-claim-type-piechart>
      </div>
  </div>
  
