.details{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 7%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 227, 227);
    padding-bottom: 2%;
    padding-right: 20%;
    box-shadow: 2px 2px 2px 2px gray;
}
.header{
   background-color: rgb(255, 255, 255); 
   width: 64vw;
   border: 1px solid rgb(227, 227, 227);
}
.container{
    display: flex;
}
.claim{
    margin-left:2%;
    padding-top: 1%;
}
.btn{
    margin-top:0.5em;
text-align: center;
font-size: 16px;
color: white;
width: fit-content;
height: fit-content;
margin-left: 2%;
}
.btn1 {
    background-color: white;
    border-radius: 8px;
    color: DodgerBlue;
    padding: 8px 12px;
    margin-top: 0.5em;
    font-size: 16px;
    cursor: pointer;
    height: fit-content; 
    width: fit-content;
    margin-left: 25%;
  }
 
 .box {
    position: absolute;
    top: 9.4%;
    left: 52rem;
  }
 
  .carousel-control-next-icon, .carousel-control-prev-icon{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: black;
  }

  .carousel-item active{
    border: 2px;
    border-color: black;
  }

  .card{
    position: absolute;
    left: 60%;
    top: 8%;
  }

  .userData{
    display: flex;
    margin: 2%;
  }

  .record2{
    margin-left: 10%;
  }
  .record3{
    margin-left: 12%;
  }
  .record4{
    margin-left: 14%;
  }

  .record5{
    margin-left: 9.5%;
  }
  .record6{
    margin-left: 12%;
  }
  .record7{
    margin-left: 12.5%;
  }
  .record8{
    margin-left: 8%;
  }
  
  .moreDetails{
    margin-top: 2rem;
    margin-left: 17rem;
    text-decoration: none;
  }
  .moreDetails a{
    text-decoration: none;
  }
  .record9{
    margin-left: 2%;
  }
  .container1{
    margin-left: 2%;
    width: 60%;
  }

  .img1{
    height: 36em;
  }
  .img2{
    margin-left: .5em;
    height: 36em;
  }
  .img3{
    margin-left: .5em;
    height: 36em;
  }
  .carousel-inner{
    margin-left: 2rem;
    margin-top: 1rem;
  }


  .cont{
    background-color: rgb(223, 248, 255);
    width: 57.5vw;
    margin-left: 2%;
    height: 45vh ;
  }

  .offer{
    margin-left: 2%;
  }

  .click{
    color: black;
    border: 1px solid rgb(0, 145, 255);
  }
  
  .click2{
    color: black;
    border: 1px solid rgb(0, 145, 255);
  }

  