<h1>Configure Fields</h1>

<h3>Select Column For Table View</h3>

<div class="mainDiv">
<mat-checkbox color="primary"> 
     Cargo info
  </mat-checkbox>

  <mat-checkbox color="accent" class="client"> 
     Client
  </mat-checkbox>
    
  <mat-checkbox color="warn" class="opponent"> 
    Opponent
  </mat-checkbox>

  <br><br>
</div>
<div class="mainDiv"> 
    <mat-checkbox color="warn"> 
    Claim Amount
  </mat-checkbox>

  <mat-checkbox color="warn"> 
    Created on
  </mat-checkbox>
    
  
    
  <mat-checkbox color="primary"> 
    Prescription on
  </mat-checkbox>
  </div>

  <div class="buttonDiv">
    <button mat-button color="primary" class="button1">Accept</button> &nbsp;
    <button mat-button color="primary" class="button2">Cancel</button>
  </div>
