<div class="piechart">
    <canvas
      baseChart
      [data]="salesData"
      [type]="'doughnut'"
      [options]="chartOptions"
    >
    </canvas>
   
  </div>
  <div class="text">
    <div>
      <div class="tenes"></div>
      Land(770)
    </div>
    <div>
      <div class="abidjan"></div>
      Oil and Gas(770)
    </div>
    <div>
      <div class="alger"></div>
      Air(770)
    </div>
    <div class="div">
      <div class=" aiqusayr"></div>
      Sea(770)
    </div>
    <div>
      <div class="tunis"></div>
      GA and Salvage(770)
    </div>
     </div>
