<div class="cont1">
    <h2 class="offer"><strong>ACCEPT</strong> <i class='draft fa fa-save fa-1x'style='color: rgb(0, 255, 38)'></i><a>Save as a Draft</a></h2>
    <div class="rec">
        <h3 class="offer"><strong>COMMENTS</strong></h3>
    </div>
    <div class="rec1">
        <p class="offer1">Your car insurance policy claims are mainly of two types: cashless claims and reimbursement
            claims. While the former does not require you to pay from your pocket since the insurer will settle the
            repair
            bill directly with the network garage, the latter is when you repair the car and raise a claim for the
            repair
            bill and the insurer will reimburse the repair bill. Note: The insurance company will review and then decide
            on
            the compensation based on the terms and conditions of your policy. When a claim has been received but has
            not
            been approved or denied, finished or completed. It is waiting until the premium is paid or the plan is
            canceled
            due to nonpayment. It is simply in a waiting period. </p>
    </div>
    <div>
        <i class="attachment fa fa-paperclip" style="font-size:20px;color:rgb(0, 145, 255)"> Attach a document</i>
    </div>
    <button class="click1 btn btn-primary">Send</button>
    <button class="click2 btn btn-light">Cancel</button>
</div>
