<div class="piechart">
    <canvas baseChart 
            [data]="salesData" 
            [type]="'doughnut'"
            [options]="chartOptions"
            
            
          >
          </canvas>
         
        </div>
        <div class="text">
          <div>
            <div class="tenes"></div>
            Tenes(481)
          </div>
          <div>
            <div class="abidjan"></div>
            Abidjan(480)
          </div>
          <div>
            <div class="alger"></div>
            Alger(480)
          </div>
          <div class="div">
            <div class=" aiqusayr"></div>
            AI Qusayr(480)
          </div>
          <div>
            <div class="tunis"></div>
            Tunis(480)
          </div>
          <div>
            <div class="elkala"></div>
            El Kala(480)
          </div></div>
