<div class="piechart">
    <canvas baseChart 
            [data]="salesData" 
            [type]="'bar'"
            [options]="chartOptions"
            
            
          >
          </canvas>
          <div class="text">
            <div >  
                <div class="blue-dot"></div>Setteled($50,00)
            </div>
            <div>
                <div class="purple-dot"></div>Pre Setteled($5,000)
            </div>
            <div>
               <div class="yellow-dot"></div>Pending($50,00)
            </div>
            <div class="div">
                <div class="orange-dot"></div>Closed($50,00)
            </div>

            
        </div>
        </div>

