<div class="main-container">
    <div class="container contc">
      <div class="circle blue-circle"></div>
      <div>Setlled</div>
    </div>
  
    <div class="container cont2">
      <div>Amount: $15,000</div>
      <div>Claim: 300</div>
      <div class="capsool1"><progress id="file" value="32" max="100"> 32% </progress></div>
    </div>
  
    <div class="container contc">
      <div class="circle purple-circle"></div>
      <div>Pre Setlled</div>
    </div>
  
    <div class="container cont4">
      <div>Amount: $10,000</div>
      <div>Claim: 300</div>
      <div class="capsool2"><progress id="file" value="56" max="100"   > 92% </progress></div>
    </div>
  
    <div class="container contc">
      <div class="circle yellow-circle"></div>
      <div>Pending</div>
    </div>
  
    <div class="container cont6">
      
      <div>Amount: $15,000</div>
      <div>Claim: 300</div>
      <div class="capsool3"><progress id="file" value="32" max="100" > 32% </progress></div>
    </div>
  
    <div class="container contc">
      <div class="circle orange-circle"></div>
      <div>Closed</div>
    </div>
  
    <div class="container cont8">
      <div>Amount: $5,000</div>
      <div>Claim: 300</div>
      <div class="capsool4"><progress id="file" value="32" max="100" > 32% </progress></div>
    </div>
  </div>
  
